@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pd-width: 0.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.mt-2 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.link-light {
    color: #4d4d4d;
}

.link-light:hover {
    color: #FFF;
}

/* NAVBAR */
.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    margin-bottom: 0.8rem;
    background-color: #333;
    color: #FFF;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.left {
    width: 25%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 75%;
    padding: 0 3rem;
}

.first_nav {
    display: flex;
}

.first_nav img {
    width: 35px;
    height: 35px;
}

.first_nav h1 {
    margin-left: 0.5rem;
}

.link_itens {
    display: flex;
    margin: 0 1rem;
    list-style: none;
}

.link_itens li {
    margin-left: .8rem;
}

.link_itens a {
    text-decoration: none;
    color: #FFF;
    padding: 5px;
    transition: all .4s ease-in;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.link_itens a:hover {
    border-color: #ffcc01;
    color: #ffcc01;
}

.bg-color-font {
    color: #f12005;
    background-image: -webkit-linear-gradient(225deg, #f12005 40%, #FFCC01 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.icon-menu {
    display: none;
}

/* SEARCH */
.search-box {
    width: 400px;
    height: 50px;
    background-color: #FFF;
    color: #333;
}

input {
    flex: 1;
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
    padding-left: 5px;
    border-radius: 6px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.poke-button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

.poke-button .fa-search {
    width: 25px;
    color: #333;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #333;
}

/* SEARCH */
.result-box ul {
    background-color: #FFF;
    border-top: 1px solid #999;
    padding: 15px 10px;
    font-size: 15px;
}

.result-box ul li {
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #e1e1e244;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}

/* CARDS */
.container {
    max-width: var(--mx-width, 1100px);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
}

.content {
    padding-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 15px;
}

.poke-card {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 130px;
    border-radius: .5rem;
    display: flex;
}

.poke-img,
.poke-ball {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    max-height: 120px;
}

.poke-img {
    z-index: 1;
    object-fit: cover;
}

.poke-ball {
    width: 1130px;
    position: relative;
    z-index: 0 !important;
    opacity: 0.5;
    filter: invert(1);
    transform: rotate(45deg) !important;
    right: 1rem !important;
}

.poke-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poke-data strong,
.poke-data span,
.poke-titles {
    color: #FFF;
}

.poke-types {
    padding: 0;
    margin: 0;
}

.poke-titles {
    font-size: 12px;
}

.poke-type {
    background-color: #ffffff49;
    padding: 0.2rem 0.8rem;
    margin-top: 5px;
    background-size: auto;
    border-radius: 1rem;
    display: table;
    font-size: .625rem;
    display: inline-block;
    margin-right: 5px;
}

.poke-name {
    text-transform: capitalize;
}

.poke-color-name {
    text-transform: uppercase;
    color: #FFF;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    color: white;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.poke-fs12 {
    font-size: 12px;
}

.cursor {
    cursor: pointer;
}

/* NAVBAR */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 0 2rem;
    }

    .first_nav img {
        width: 35px;
        height: 35px;
    }

    .navbar-title span {
        font-size: 25px;
    }

    .container {
        --mx-width: 576px;
        --gutter: 100px;
    }
}

/* CARDS */
@media (min-width: 1200px) {
    .container.wide {
        --mx-width: 1720px;
        --gutter: 40px;
    }
}

@media screen and (max-width: 992px) {
    .grid {
        --grid-col: 300px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .container {
        --mx-width: 860px;
        --gutter: 40px;
    }
}

@media screen and (max-width: 767px) {
    .grid {
        --grid-col: 250px;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-col), 100%), 1fr));
    }

    .container {
        --mx-width: 768px;
        --gutter: 40px;
    }

    .icon-menu {
        display: block;
    }

    .nav-links {
        padding: 0 1rem;
        justify-content: end;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: block;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #333;
        padding: 25px;
        top: 100%;
        left: 0;
        min-height: 200px;
        width: 100%;
        border-top: 1px solid #c6c6c69e;
    }

    .search-box {
        width: 100%;
        max-width: 100%;
    }

    .link_itens {
        display: flex;
        flex-direction: column;
    }

    .link_itens li {
        padding: 12px 0;
    }
}

@media (min-width: 1200px) {
    .container {
        --mx-width: 1720px;
        --gutter: 40px;
    }
}